/*header start*/

body{
	margin: 0;
	padding: 0;
}
header{
	padding: 10px 0;
}
.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.logo{
	width: 20%;
	float: left;
}
.logo img{
	width: 100%;

}
.menu{
	width: 75%;
	float: right;
	margin-top: 10px;
}

.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family:sans-serif;
	font-size: 16px;
	font-weight: 700 ;
	color: #535D69;
	text-decoration: none;
	padding: 0 10px;
	display: inline-block;
	transition: .2s;
}
.menu ul li:last-child a{
	padding-right: 0;
}

.menu ul li a:hover{
	color: red;
}

/*header end*/
/*banner start*/
.banner{
	background-image: url(../images/business.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.b_content{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 50%;
}
.b_content h1{
	font-family: sans-serif;
	font-size: 53px;
	color: white;
	letter-spacing: 3px;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 25px;
}
.b_content p{
	font-family: sans-serif;
	font-size: 18px;
	color: white;
	margin-top: 0;
	margin-bottom: 15px;
}
.b_content button{
	width: 260px;
	height: 50px;
	background-color: #BE2342;
	border: none;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	margin-top: 30px;
	cursor: pointer;
}

.b_content button:foucs{
	outline: 0;
}
/*banner end*/
/*how it works start*/
.works{
	padding: 5%;

}
.first_part{
	width: 70%;
	margin: 0 auto;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 4%;
}
.first_part h1{
	font-size: 30px;
	color: #1F1F1F;
	text-transform: uppercase;
	margin: 0 0 30px;
	
}
.first_part p{
	font-size: 17px;
	color: #525C68;
	line-height: 23px;
	margin: 0;
}
.second_part{
	overflow: hidden;

}
.single_item{
    float: left;
    width: 22%;
    text-align: center;
    padding: 0px 1.50%;
    margin: 0px 4.16%;
}
}
.single_item img{
	width: 50%;

}
.single_item p{
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: #1F1F1F; 
}
/*how it works end*/
/*learn process start*/
.learn{
	background-color: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 50px;
}
.learn_process{
	font-family: sans-serif;
	width: 40%;
	margin-left: 8%;
	float: left;
}
.learn_process h1{

}
.learn_process p{

}
.learn_process button{
    width: 135px;
    height: 42px;
    background-color: #BE2342;
    border: none;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}
.learn_video{
	width: 42%;
	float: right;
}
/*learn process start*/
/*features start*/
.features{
	padding: 5%;
}
.features_heading{
	width: 70%;
	margin: 0 auto;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 5%; 
}
.features_heading h1{
	font-size: 30px;
	color: #1F1F1F;
	text-transform: uppercase;
	margin: 0 0 30px;
}
.features_heading p{
	font-size: 17px;
	color: #525C68;
	line-height: 23px;
	margin: 0;
}

.icons{
	    overflow: hidden;
}
.icons h3{
		font-size: 15px;
}
.icons p{
	font-size: 10px;
    color: 
}

.icons div{
    width: 28%;
    height: 250px;
    text-align: center;
    box-shadow: 1px 1px 3px grey;
    margin: 1.3%;
    padding: 1%;
    float: left;
}
/*features end*/
/*see all features start*/
.all_features{
	text-align: center;
	margin-bottom: 80px;
}
.all_features button{
	width: 11%;
    height: 39px;
    border: 1px solid black;
    color: red;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
.all_features button:hover {
	background-color: #da2828;
	color: white;
	transition: 1s;
}
/*see all features end*/
